.container{
    width: 80%;
    height: 100%;
    margin: auto;
    color: azure;
}
.connection-group{
    display: flex;
    width: 40%;
    flex-direction: column; /* Các item xếp theo cột */
    align-items: center;    /* Căn giữa các item theo trục ngang */
    gap: 5px;
}
.connection-btn{
    background-color: rgb(61, 58, 55);
    width: 100%;
    border: 1px solid #e14747;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}
.connection-btn:hover{
    background-color: #47586b;
}

.message-container{
    border: #e14747 solid;
}
.active-recipientId{
    background-color: #5892d4;;
}
.lk-audio-conference{
    height: 80% !important;
}